In [121]:
import pandas as pd
import numpy as np
import folium

In [122]:
#Pulling Data
cdata=pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv")
hdata=pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")
cdata[cdata["county"] == "DuPage"]

county_data=pd.read_csv('c_03mr20.csv')

geojsonmap='us-counties.json'

In [123]:
county_data

     STATE  CWA     COUNTYNAME   FIPS TIME_ZONE FE_AREA       LON      LAT
0       ME  CAR     Washington  23029         E      se  -67.6361  45.0363
1       GA  CHS       McIntosh  13191         E      se  -81.2646  31.5329
2       GA  CHS        Liberty  13179         E      se  -81.2103  31.7093
3       AS  PPG  Swains Island  60040         S     NaN -171.0459 -11.0843
4       AS  PPG         Manu'a  60020         S     NaN -169.5060 -14.2219
...    ...  ...            ...    ...       ...     ...       ...      ...
3326    VA  AKQ           York  51199         E      se  -76.5637  37.2371
3327    TX  BRO         Kenedy  48261         C      ds  -97.7174  26.9281
3328    TX  BRO        Willacy  48489         C      ds  -97.6732  26.4706
3329    MI  APX       Chippewa  26033         E      ee  -84.5921  46.3031
3330    OR  MFR          Curry  41015         P      sw -124.1567  42.4578

[3331 rows x 8 columns]

In [124]:
cdata = cdata.fillna(0)
cdata['fips_str'] = cdata['fips'].astype(int).astype(str)
cdata

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,fips_str
0,2020-07-01,Autauga,Alabama,1001.0,537,12.0,530.0,11.0,7.0,1.0,1001
1,2020-07-01,Baldwin,Alabama,1003.0,680,10.0,663.0,9.0,17.0,1.0,1003
2,2020-07-01,Barbour,Alabama,1005.0,325,1.0,322.0,1.0,3.0,0.0,1005
3,2020-07-01,Bibb,Alabama,1007.0,170,1.0,167.0,1.0,3.0,0.0,1007
4,2020-07-01,Blount,Alabama,1009.0,208,1.0,204.0,1.0,4.0,0.0,1009
...,...,...,...,...,...,...,...,...,...,...,...
3146,2020-07-01,Sweetwater,Wyoming,56037.0,90,0.0,81.0,0.0,9.0,0.0,56037
3147,2020-07-01,Teton,Wyoming,56039.0,129,1.0,97.0,0.0,32.0,0.0,56039
3148,2020-07-01,Uinta,Wyoming,56041.0,176,0.0,140.0,0.0,36.0,0.0,56041
3149,2020-07-01,Washakie,Wyoming,56043.0,38,5.0,33.0,0.0,5.0,0.0,56043
3150,2020-07-01,Weston,Wyoming,56045.0,2,0.0,2.0,0.0,0.0,0.0,56045

In [125]:
center_data=pd.read_csv('table-1.csv')
center_data.set_index('state', inplace=True)
latitude = center_data['latitude']
longitude = center_data['longitude']

In [126]:
statedata=cdata[cdata['state']=='Illinois']
statedata.set_index('county', inplace=True)
statedata.drop('Cook')

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,fips_str
county,,,,,,,,,,
Adams,2020-07-01,Illinois,17001.0,87,1.0,87.0,1.0,0.0,0.0,17001
Alexander,2020-07-01,Illinois,17003.0,22,0.0,22.0,0.0,0.0,0.0,17003
Bond,2020-07-01,Illinois,17005.0,13,1.0,13.0,1.0,0.0,0.0,17005
Boone,2020-07-01,Illinois,17007.0,586,21.0,586.0,21.0,0.0,0.0,17007
Brown,2020-07-01,Illinois,17009.0,10,0.0,10.0,0.0,0.0,0.0,17009
...,...,...,...,...,...,...,...,...,...,...
Whiteside,2020-07-01,Illinois,17195.0,186,15.0,186.0,15.0,0.0,0.0,17195
Will,2020-07-01,Illinois,17197.0,6686,321.0,6686.0,321.0,0.0,0.0,17197
Williamson,2020-07-01,Illinois,17199.0,115,4.0,115.0,4.0,0.0,0.0,17199
Winnebago,2020-07-01,Illinois,17201.0,3030,94.0,3030.0,94.0,0.0,0.0,17201
Woodford,2020-07-01,Illinois,17203.0,34,2.0,34.0,2.0,0.0,0.0,17203

In [127]:
m = folium.Map(location=[float(latitude.loc["IL"]), float(longitude.loc["IL"])], zoom_start=6)

In [136]:
statecountydata=county_data[county_data['STATE'] == 'IL']
statecountydata.set_index('COUNTYNAME', inplace=True)
type(statecountydata.loc['DuPage']['LON'])
statecountydata

           STATE  CWA   FIPS TIME_ZONE FE_AREA      LON      LAT
COUNTYNAME
Jackson       IL  PAH  17077         C      ss -89.3821  37.7852
Jefferson     IL  PAH  17081         C      sc -88.9240  38.3005
Jersey        IL  LSX  17083         C      sw -90.3566  39.0856
Jo Daviess    IL  DVN  17085         C      nw -90.2123  42.3657
Johnson       IL  PAH  17087         C      ss -88.8809  37.4596
...          ...  ...    ...       ...     ...      ...      ...
Lee           IL  LOT  17103         C      nc -89.3005  41.7461
Knox          IL  ILX  17095         C      wc -90.2133  40.9318
Lake          IL  LOT  17097         C      ne -88.0036  42.3231
Cook          IL  LOT  17031         C      ne -87.8167  41.8399
Jasper        IL  ILX  17079         C      se -88.1538  39.0100

[102 rows x 7 columns]

In [129]:
folium.Choropleth(
    geo_data=geojsonmap,
    name='Positive Cases',
    data=statedata,
    columns=['fips_str', 'cases'],
    key_on='feature.fips',
    fill_color='OrRd',
    fill_opacity=0.5,
    line_opacity=0.2,
    legend_name='Positive COVID-19 Cases'
).add_to(m)

In [149]:
for cn in statecountydata.index:
    folium.CircleMarker(location=(float(statecountydata.loc[cn]['LAT']), float(statecountydata.loc[cn]['LON'])), 
                        tooltip=cn, fill=True, fill_color='white', color='white').add_to(m)

m.save("ilcountymap.html")